body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
    color: rgb(206, 156, 50);
    text-decoration: none;
}

a>p {
    color: white;
}

#header {
    display: flex;
    background-color: rgb(210, 105, 30);
    width: 100%;
    justify-content: space-between;
}

.head-text {
    color: white;
    font-size: 3vw;
    padding-left: 50px;
    text-align: left;
}

.link-text {
    padding-right: 50px;
    padding-top: 30px;
    font-size: 1.6vw;
}

.task-row {
    display: flex;
    flex-direction: column;
    margin: 50px;
}

.task-column {
    display: flex;
    border: 3px solid #d2691e;
    padding: 25px;
}

.number {
    flex: 1;
}

.description {
    flex: 2;
}